
{% extends 'base.html' %}
 {% block content %}

<style>
    
    
    #id_agent,label, input{
    text-align: left;
    width: 100px;
    white-space: nowrap;
    margin: 0px 5px;
    }
    #id_agent,input{
        text-align: center;
        width: 30%;
        color: black;
    }   

</style>


        <!-- added mannual -->
        <h5 class="mt-3" ><a href="{% url 'leads:home-forms' %}" class="text-decoration-none" style="margin-left: 0%;"  >Go back to Home</a></h5>
       
        <div class="container mt-4  border border-dark">
        <h4>Update the Forms !</h4><hr>
        <hr>
        <form  method="post" style="display: inline-block;" >
        {% csrf_token %}
        {{Lead.as_p}}
        {{form.as_p}}
        <hr>
        <hr>
        <p>
        </p>
        
        <button  type="submit">Click me</button>
        
        </form>



       <!-- {{req}} -->
        <details>
        <summary>About us</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores nisi labore id itaque quod ipsam sapiente vel ipsum saepe!</p>
    </details> </div> 
         <!-- added mannual -->
        {% endblock content %} 
