
{% extends 'base.html' %}
 {% block content %}
        <!-- added mannual -->
        <h5 class="mt-3" ><a href="{% url 'leads:home-forms' %}" >Go back to Home</a></h5>
        <hr>
        <hr>
        <div class="container mt-4  border border-dark">
        <h4>Update the Forms !</h4>
        <form  method="post">
        {% csrf_token %}
        {{Lead.as_p}}
        <button type="submit">Click me</button>
        </form>
       <!-- {{req}} -->
        <details>
        <summary>About us</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores nisi labore id itaque quod ipsam sapiente vel ipsum saepe!</p>
    </details> </div> 
         <!-- added mannual -->
        {% endblock content %} 
