<style>
  .en_btn{
    width: 72px !important;
  }
  .en_btn2{
    margin: 0px 7px !important;
  }
  .nav_rk{
    text-decoration: none ;
    color: rgb(255, 212, 148) !important;
  }
  .nav_rk:hover{
    color: rgba(197, 163, 111, 0.705)  !important ;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand  nav_rk" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active nav_rk" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_rk" href="#">Link</a>
            
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled ">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success  " type="submit">Search</button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link nav_rk ml-2 block" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link en_btn nav_rk " href="#">Sign Up</a>
              </li>
            </ul>
        </form>
      </div>
    </div>
  </nav>

